@import "tailwindcss";

@theme {
  --color-terracotta: #8e3b22;
  --color-terracotta-deep: #6f250d;
  --color-terracotta-light: #ffdbd1;

  --color-gold: #d4af37;
  --color-gold-light: #ffe088;

  --color-surface: #fdf9f6;
  --color-surface-dim: #ddd9d6;
  --color-surface-low: #f7f3f0;
  --color-surface-container: #f1edea;

  --color-text-main: #1c1b1a;
  --color-text-muted: #55423d;

  --color-slate-charcoal: #2d3748;

  --color-rarity-common: #cbd5e0;
  --color-rarity-rare: #4299e1;
  --color-rarity-legendary: #9f7aea;

  --color-status-success: #38a169;

  --font-display: var(--font-epilogue), sans-serif;
  --font-body: var(--font-manrope), sans-serif;
  --font-mono: var(--font-space), sans-serif;

  --radius: 0.5rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

body {
  background-color: #fdf9f6;
  color: #1c1b1a;
}

html {
  scroll-behavior: smooth;
}
